
.ui-course {

  h3 {
    margin-top: 10px;
  }

  .ui-course-details {
    .ui-course-code {
      font-weight: bold;
    }

  }
  .ui-course-sessions {
    .ui-session-list {
      border: 1px solid black;

    }
  }

}