@import './main.scss';
@import './bootstrap-style.scss';
@import './mixins.scss';

.ql-answer-distribution {
  display: inline-block;
  float: left;
  background: white;
  border: 1px solid #ccc;
}

.ql-list-item {
  @include list-item();
}


// modal stuff
.ql-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.8);
  overflow: auto;
	
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
  padding-top: 50px;

  .ql-modal {
    background: white;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    
    .ql-modal-header {
      margin-bottom: 8px;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;

      align-items: center;

      .ql-header-text {
        margin: 0;
        display: inline-block;
      }
      .ql-header-button {
        margin-left: 10px;
        margin-bottom: 2px;
        display: inline-block;
      }
    }

    .ql-buttongroup {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
  }
}


// session status badges
.ql-session-status {
  color: white;
  padding: 4px 12px;
  border-radius: 2px;
  white-space: nowrap;
  min-width: 70px;
  text-align: center;
  text-transform: uppercase;

  &.ql-hidden {
    border: $inactive-color 1px solid;
    color: $inactive-color;
  }
  &.ql-visible {
    border: $inactive-color 1px solid;
    color: $inactive-color;
  }
  &.ql-running {
    border: $blue 1px solid;
    color: $blue;
  }
  &.ql-done {
    border: $inactive-color 1px solid;
    color: $inactive-color;
  }

}


// progress
.ql-progress {
  height: 10px;
  border-radius: 2px;
  width: 100%;
  position: relative;
  background: #ddd;
  border-radius: 2px;

  .ql-progress-bar {
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: $blue;
    height: 10px;
  }
}

// labels
.ql-page-container .ql-label {
  background: transparent;
  padding: 0px 6px;
  border-radius: 6px;
  font-weight: normal;

  &.ql-label-info {
    border: 1px solid $blue;
    color: $blue;
  }

  &.ql-label-correct {
    border: 1px solid $correct-color;
    color: $correct-color;
  }
  &.ql-label-incorrect {
    border: 1px solid $incorrect-color;
    color: $incorrect-color;
  }

}


.editor-wrapper {
  .ckeditor-wrapper {
    // width: calc(100% - 20px);
    // display: inline-block;
  }
}


// header on login page
.ql-outside-header {
  width: 100%;
  background: #676A6C;
  padding: 5px;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80%;

  .ql-wordmark {
    color: white;
  }
}

.ql-wordmark {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-family: $font-stack;

  h1 {
    margin:0;
  }
}

// text input style
input[type=text], input[type=email], input[type=password] {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 8px;
}

// buttons
.btn {
  border-color: $blue;
  color: $blue;
  border-radius: 3px;

  &:hover {
    border-color: $blue;
    color: $blue;
  }

  &:active, &:focus {
    border-color: $blue;
    color: $blue!important;
  }

  &.btn-primary {
    background: $blue;
    color: white;

    &:disabled {
      background: $disabled;
      border-color: $disabled;

      &:hover {
        background: $disabled;
        border-color: $disabled;
      }
    }

    &:hover {
      background-color: darken($blue, 8%);
      border-color: darken($blue, 8%);
      color: white;
    }

    &:active, &:focus {
      border-color: darken($blue, 8%);
      color: white!important;
    }
  }

}

.btn-group:not(.dropdown) {
  .btn {
    border-right-width: 0;
  }
  .btn:last-child {
    border-right-width: 1px;
  }
}


.ql-list-item {
  @include list-item();
}

// blue header bar and card
.ql-header-bar {
  padding: 10px;
  background: $blue;
  text-align: center;
  color: white;
}

.ql-card {
  margin-top: 15px;
  margin-bottom: 15px;
  background: white;
  
  .ql-card-content {
    padding: 15px;
  }
}