
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
  font-family: 'Open Sans', sans-serif;

}

h1, h2, h3 {
  margin-bottom: 4px;
  margin-top: 4px;
}
h1 {
  font-size: 3em;
}

$correct-color: #2AA786;
$incorrect-color: #A72526;

.spacer1 {
  height:10px;
}

.correct-color {
  color: $correct-color;
}

.incorrect-color {
  color: $incorrect-color;
}

.ql-page-container {
 
  .ql-top-bar {
    background: #eee;  

    .ql-button-bar {
      float:right;
      text-decoration:none;
      width: 50%;

      a {
        display:inline-block;
        margin-left: 5px;
        margin-right: 5px;
        text-decoration: none;
        color: black;

        &:hover {
          font-weight: bold;
        }
      }
    } // . ql-button-bar
  } // .ql-top-bar

}

.ql-wordmark {
  text-decoration: none;
  display: inline-block;
  color: black;

  h1 {
    margin:0;
  }
}


.ql-course-code, .ql-course-semester, .ql-enrollment-code {
  text-transform: uppercase;
}

.ql-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.8);
  overflow: auto;
	
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
  padding-top: 50px;

  .ql-modal {
    background: white;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    
    .ql-modal-header {
      margin-bottom: 8px;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;

      align-items: center;

      .ql-header-text {
        margin: 0;
        display: inline-block;
      }
      .ql-header-button {
        margin-left: 10px;
        margin-bottom: 2px;
        display: inline-block;
      }
    }

    .ql-buttongroup {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

@keyframes colorPulse {
  0% {background-color: rgba(150,150,150,0.8);}
  100% {background-color: rgba(30,30,30,0.8);}
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
#page-loading-spinner {
  animation: colorPulse 1s infinite alternate, fadein 1s;
  position: fixed;
  top:40px;
  left: 48%;
  width: 100px;
  margin: 0 auto; 
  text-align: center;
  padding: 20px;
  background: rgba(100,100,100,0.6);
  color: white;
  font-size: 120%;
  font-weight: bold;
  -webkit-box-shadow: 4px 4px 34px -8px rgba(0,0,0,0.46);
  -moz-box-shadow: 4px 4px 34px -8px rgba(0,0,0,0.46);
  box-shadow: 4px 4px 34px -8px rgba(0,0,0,0.46);
}