

@mixin list-item() {
  padding: 16px;
  background: white;
  border: 1px solid #ddd;
  font-size: 120%;
  position: relative;

  &.click {
    cursor: pointer;
  }

  &:hover {
    background: #efefef;
  }

  .controls-expander {

  }

  .controls {
    z-index:10;
    float: right;
    margin-top: -5px;


    .dropdown-toggle {
      z-index: 99;
    }

    .dropdown-menu {
      z-index: 100;
    }
  }

}
