

@mixin list-item() {
  padding: 16px;
  background: white;
  font-size: 120%;
  border-bottom: 1px solid #ddd;
  position: relative;

  &.click {
    cursor: pointer;
  }

  &:hover {
    background: #efefef;
  }

  .title {
    font-weight: bold;
  }

  .details {
    float: right;
  }

  .controls-expander {

  }

  .btn-group.dropdown {
    float: right;
  }

  .controls {
    z-index:10;
    float: right;
    margin-top: -5px;


    .dropdown-toggle {
      // z-index: 99;
    }

    .dropdown-menu {
      // z-index: 100;
    }
  }

}
