
// Login Page
.ui-login-page {
  .login-container {
    text-align: center;
  }
}

// Components
.ui-login-box {
  text-align: center;

  input[type=text], input[type=password] {
    width:215px;
  }

}


ul.ui-courselist {

  

  li.ui-courselist-item {
    text-decoration: none;
    list-style: none; 

    span.course-name {
    
    }
    
    span.code-number-section {
    
    }
  }

}

