/* Custom page CSS */
// Variables

// colors
$main-text: #212121;
$blue: #30B0E7;
$background: #F3F3F4;
$hover-color: #676A6C;
$inactive-color: #989898;

$font-stack: "Avenir", Helvetica, Arial, sans-serif;
