/* Custom page CSS */
// Variables

// colors
$main-text: #212121;
$blue: #30B0E7;
$light-green: #cbeab4;
$light-green-hover: #bfc6ba;
$black: #000000;
$grey: #F2F2F2;
$slightly-darker-grey: #e2e2e2;
$darker-grey: #a8a8a8;
$red: #ff0000;
$dark-green: #00b200;
$light-red: #fce3e3;
$orange: #ffb649;
$background: #F3F3F4;
$hover-color: #676A6C;
$inactive-color: #989898;

$disabled: #676A6C;

$font-stack: "Avenir", Helvetica, Arial, sans-serif;

$correct-color: #5ACE5F;
$incorrect-color: #F74E4E;
$neutral-color: #DDDDDD;
$incorrect-fill: #FEEDED;
$correct-fill: #DDEADD;
$neutral-fill: #F8F8F8;
