
.ui-session-list-item {

  cursor: pointer;
  padding: 12px;

  &:hover {
    background: #ddd;
  }

  .ui-session-name {
    font-weight: bold;
  }

  .ui-session-status {
    margin-left:10px; 
  }
 
  .controls {
    z-index:10;
    float: right;
  }

}
