@import '../bootstrap-style.scss';

.ql-admin-page {
    display: flex;
    flex-direction: column;
}

.ql-admin-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rd {
   
    
}


