@import '../variables.scss';
//inspired by https://www.w3schools.com/css/css_navbar_horizontal.asp

div.ql-logo {

  display: inline-block;
  float: left;
  color: white;
  font-family: $font-stack;
  font-weight: 200;
  font-size: 25px;
  min-height: 55px;
  padding: 10px;
  cursor: pointer;
  background-color: $blue;
}

div.ql-logo:hover{
  color: $grey;
  //position: absolute;
  //top: 0px;
}

.ql-page-nav {
  background-color: white;
  //min-height:50px;
  font-size: large;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  font-family: $font-stack;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.ql-page-horiz-menu {
  min-height:50px;// to keep a white bar when it's collapsed
  //display: flex;
  //flex-flow: row nowrap;
  //justify-content: flex-start;
}
.ql-page-horiz-menu ul {
  //display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.ql-page-horiz-menu li {
  float: left;
  display: block;
  text-align: center;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
}

.ql-page-horiz-menu li.right {
  float: right;
  align-self: flex-end;
  display: block;
  text-align: center;
}

li.ql-page-menu-dropdown, .ql-page-menu-item {
  text-align: center;
  min-height:50px;
  padding: 15px 10px 15px 0px;
}

li.ql-page-menu-dropdown:hover, .ql-page-menu-item:hover {
  background-color: $grey;
}

.ql-page-menu-dropdown-content {
  display: none;
  position: absolute;
  margin-top: 15px;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

li.ql-page-menu-dropdown:hover .ql-page-menu-dropdown-content {
  display: block;
}

.ql-page-menu-dropdown-content li {
  display:block;
}

.ql-page-content {
  margin-top: 60px;
}

[type="checkbox"],
label {
    display: none;
}

@media screen and (max-width: 700px) {
  .ql-page-horiz-menu ul {
        display: none;
    }

  label {
    display: block;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 0px;
    padding-top: 5px;
    z-index: 11;
   }

  label:after { // this makes the hamburger, by adding 2 shadows below the label above...
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    background: $blue;
    margin: 7px 15px;
    box-shadow: 0px 10px 0px $blue, 0px 20px 0px $blue
  }

  [type="checkbox"]:checked ~ ul {
    display: block;
    z-index: 10;
    background-color: white;
    position: absolute;
    top: 50px;
    //height:auto; //can controle height instead of display
    //right: 20px;
    //left: 20px;
    width: 100%;// leave space for the hamburger icon
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 2px 2px; //two bottom corners slightly rounded
  }

  .ql-page-horiz-menu li, .ql-page-horiz-menu li.right {
    float: none; //makes the li go vertically instead of horizontally
  }

  .ql-page-menu-dropdown-content {
    //display: block;
    position: relative;
    padding-left: 80px;
    box-shadow: none;
  }

}
