@import '../variables.scss';
//inspired by https://www.w3schools.com/css/css_navbar_horizontal.asp

div.ql-logo {
  display: inline-block;
  float: left;
  height: 50px;
  width: 150px;
  padding-top: 10px;
  padding-left: 35px;
  cursor: pointer;
  background-color: $blue;
  color: white;
  font-family: $font-stack;
  font-weight: 100;
  font-size: 20px;
}

div.ql-logo:hover{
  color: $grey;
}

// wrap all of nav in this style:
.ql-page-nav nav {
  background-color: white;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

  font-family: $font-stack;
  font-size: large;
  font-weight: 100;
  color: black;
}

nav li.divider {
  display: block;
  background: $darker-grey;
  height: 1px;
  padding: 0;
  margin-bottom: 5px;
}

nav li.infolabel {
  display: block;
  font-size: 0.75em;
  height: 20px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

nav li img.nav-circle {
  border: 0;
  overflow: hidden;
  border-radius: 50%;
  height: 40px;
}

nav a.dropdown:after {
  content:'\02C7'; ///2228
}

nav li.infolabel:hover {
  background:white;
}

// top level menu
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
// top level menu item
nav > ul > li {
  float: left;
  display: block;
  text-align: center;
  cursor: pointer;
  margin-left: 5px;
  padding-right: 15px;
  height: 50px;
  min-width: 160px;
  padding-top: 10px;
}

// top level menu item with class ' right'
nav > ul > li.right {
  float: right;
}

// hover on all menu items
nav ul > li:hover {
  background-color: $grey;
}

// link styling
nav li > a {
  text-decoration: none;
  text-align: center;
  //min-height:50px;
  padding: 15px 10px 15px 0px;
  color: black;
}

// link styling, don't underline on hover
nav li > a:hover, nav li > a:visited, nav li > a:active, nav li > a:link  {
  text-decoration: none;
  color: black;
}



//dropdown menu outer container
nav > ul > li > ul {
  display: none;
  position: absolute;
  padding-left: 0px;
  margin-top: 15px;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

//show drop down if hovering on li above it
nav > ul > li:hover > ul {
  display: block;
}

nav > ul > li > ul > li {
  display:block;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  height: 50px;
  padding-top: 15px;
}

.ql-page-content {
  margin-top: 60px;
}

// Use the label on a checkbox as the hamburger in collapsed mode
[type="checkbox"], label {
    display: none;
}

@media screen and (max-width: 700px) {
  nav > ul {
    display: none;
  }

  label {
    display: block;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 0px;
    padding-top: 5px;
    z-index: 11;
   }

  label:after { // this makes the hamburger, by adding 2 shadows below the label above...
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    background: $blue;
    margin: 7px 15px;
    box-shadow: 0px 10px 0px $blue, 0px 20px 0px $blue
  }

  [type="checkbox"]:checked ~ ul {
    display: block;
    z-index: 10;
    background-color: white;
    position: absolute;
    top: 50px;
    padding: 0px;
    width: 100%;// leave space for the hamburger icon
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 2px 2px; //two bottom corners slightly rounded
  }

  nav > ul > li, nav > ul > li.right {
    display: block;
    padding-right: 0px;
    margin-left: 0px;
    float: none; //makes the li go vertically instead of horizontally
  }

  nav > ul > li > ul {
    position: relative;
    box-shadow: none;
  }

  nav > ul > li > ul > li {
    display: inline;
  }

}
