
.ql-course {

  h3 {
    margin-top: 10px;
  }

  .ql-course-details {
    .ql-course-code {
      font-weight: bold;
    }

  }
  .ql-course-sessions {
    .ql-session-list {
      border: 1px solid black;

    }
  }

}