
@import '../mixins.scss';

.ql-course-list-item {
  @include list-item();
  border-bottom: none;

  .ql-course-code {
    font-weight: bold;
  }

  .ql-course-name {
    margin-left: 12px; 
  }

  .ql-course-semester {
    margin-left: 12px; 
  }

  .controls {
    z-index:10;
    float: right;
  }

}
