
@import '../mixins.scss';

.ql-course-list-item {
  @include list-item();

  .ql-course-code {
    font-weight: bold;
  }

  .ql-course-name {
    margin-left: 12px; 
  }

  .ql-course-semester {
    margin-left: 12px; 
  }


}
