@import '../variables.scss';


.ql-gradeview {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 130%;
  a {
    &:hover {
      cursor: pointer;
    }
  }

  input {
    width: 4em;
    margin-right: 1px;
    margin-left: 1px;
  }
  .ql-gradeview-manual {
    background: $light-green;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .ql-gradeview-summary{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border:2px solid $blue;
    .ql-gradeview-gradeinfo {
      display: flex;
      flex-direction: row;
      div {
        display: flex;
        flex-direction: row;
        div {
          display: flex;
          flex-direction: row;
        }
      }

    }
  }

  .ql-gradeview-questionlist {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

    .ql-gradeview-question {
      padding-top: 2px;
      font-size: 100%;
      display: flex;
      flex-direction: row;

      .ql-gradeview-question-preview {
        //text-decoration: underline;
        //text-decoration-color: $blue;
        border:1px solid $darker-grey;
        //border-radius: 5px;
        padding-right: 5px;
        padding-left: 5px;

        &:hover {
          font-weight: bold;
          cursor: pointer;
          color: $blue;
          border:2px solid $darker-grey;
        }
        &.preview  {
          font-weight: bold;
          color: $black;
          border:2px solid $darker-grey;
        }
      }

      .ql-gradeview-question-info {
        div {
          display: flex;
          flex-direction: row;
          div {
            display: flex;
            flex-direction: row;
            div {
              display: flex;
              flex-direction: row;
            }
          }

        }
      }

    }
  }

  .ql-gradeview-preview-container {
    font-size: 70%;
  }

}
