@import '../variables.scss';


.ql-grade-session {

  .ql-grade-session-student-search {
    .ql-grade-session-student-search-controls {
      input {
        width: 100%;
        padding-bottom: 5px;
      }
    }

    .ql-grade-session-studentlist {
      padding-top: 5px;

      .ql-grade-session-studentlist-title {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        font-weight: bold;
        font-size: 125%;
      }

      .ql-grade-session-student {
        vertical-align: middle;
        border:2px solid $grey;
        height: 30px;
        &:hover {
          cursor: pointer;
          background-color: $grey;
        }

      }
    }
  }

  .ql-grade-session-gradeview {

  }
}
