
@import '../bootstrap-style.scss';

// Components
.ql-login-box {
  text-align: center;
  color: #888;
  background: white;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);

  .header-container {

    .header {
    
    }
  }

  .inputs-container {
    padding: 35px;
    padding-bottom: 45px;

    .input-group {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;

      .form-control {
        display: inline-block;
        width: 48%;

        &:last-child {
          float: right;
        }
      }
    }
  }
}

// Components
.ql-admin-login-box {
  text-align: center;
  color: #888;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);

  .header-container {

    .header {
    
    }
  }

  .inputs-container {
    padding: 10px;
    padding-bottom: 20px;

    .input-group {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;

      .form-control {
        display: inline-block;
        width: 48%;

        &:last-child {
          float: right;
        }
      }
    }
  }

  .bottom-account-message, .top-account-message {
    font-size: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .top-account-message {
    margin-bottom: 10px;
  }

}


.ql-profile-image-container, .ql-login-box {

  .ql-profile-image-dropzone {
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    background: transparent;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .dz-preview.dz-image-preview {
      background: transparent;
    }

    .glyphicon-camera {
      font-size: 3.8em;
      margin-bottom: 8px;
      display: block;
      text-align: center;
    }
  }

}


