
.ql-manage-course {

  h3 {
    margin-top: 10px;
  }

  .ql-course-details {
    .ql-course-code {
      font-weight: bold;
      text-transform: uppercase;
    }

    .ql-enrollment-code {
      font-size: 120%;
    }

  }

}