
.ql-manage-course-groups {
  font-size: 120%;
  a {
    &:hover {
      cursor: pointer;
    }
  }
  
  .btn-group {
    padding-bottom: 5px;
  }
  .ql-manage-course-groups-select{
    padding-bottom: 5px;
  }
  .ql-manage-course-groups-group {

    .ql-manage-course-groups-group-info{
      display: flex;
      flex-direction: row;
      div {
        display: flex;
        flex-direction: row;
      }
    }

  }
}
