
.ql-manage-session {

  .ql-row-container {
    top: 50px;
    left: 0;
    position: absolute;
    height: calc(100vh - 50px);
    width: 100%;

    .sidebar-container {
      position: absolute;
      height: calc(100vh - 50px);
      left: 0;
      top: 0;
    }

    .ql-session-sidebar {
      background: white;
      border-right: 1px solid #ddd;
      position: absolute;
      top: 0;
      left: 0;
      width: 360px;
      height: calc(100vh - 50px);
      padding: 20px;

      #sidebar-tabs {
        position: absolute;
        bottom: 0;
      }

    }
    
    .ql-main-content {
      margin-left: 360px;
      padding: 20px;
      overflow: auto;
      height: calc(100vh - 50px);
      max-width: 1000px;
    }
  }

  .ql-session-child-container {
    background: white;
    border: 1px solid #ddd;
    padding: 18px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    .ql-header-text-input {
      width: 100%;
    }

    &.ql-add-question-prompt {
      text-align: center;
    }
  }

  // stuff for running sessions
  .current-question-list-item {
    font-weight: bold;
  }

  .ql-question-preview {
    border: 1px solid #ccc;
    padding: 10px 0px;
    max-width: 700px;
  }

}