
.ql-manage-course {

  h3 {
    margin-top: 10px;
  }

  .ql-course-details {
    .ql-course-code {
      font-weight: bold;
      text-transform: uppercase;
    }

    .ql-enrollment-code {
      font-size: 130%;
      font-weight: bold;
    }

  }

  .session-button-group, .details-button-group {
    margin-bottom: 10px;
  }


  .ql-course-classlist-container {
    .ql-course-classlist-search {
      input {
        width:100%;
      }
    }
    .ql-course-classlist{
      max-height: 400px;
      overflow-y: auto;
      .ql-student-list-item {
        border: 0;
        border-top: 1px solid #ddd;
      }
    }

  }

  .ql-session-list {
    .ql-list-item:last-child {
      border-bottom: none;
    }
  }

  .submit-question-button {
    margin: 10px 0;
  }

  .show-more-item {
    text-decoration: none;

    > div.ql-list-item {
      text-align: center;
      border-top: 1px solid #ccc;
      border-bottom: none;
    }
  }

}
