
.ql-manage-session {
  max-width: 1170px;

  .sidebar-container {
    position: relative;
  }

  .ql-session-sidebar {
    background: white;
    border-right: 1px solid #ddd;
    height: calc(100vh - 50px);
    padding: 20px;

    #sidebar-tabs {
      position: absolute;
      bottom: 0;
    }

  }

  .ql-session-child-container {
    background: white;
    border: 1px solid #ddd;
    padding: 18px;
    width: 100%;
    margin: 10px;

    .ql-header-text-input {
      width: 100%;
    }

    &.ql-add-question-prompt {
      text-align: center;
    }
  }

}