
@import '../variables.scss';

// Component
.ql-profile-page {

  .ql-profile-card {
    background: white;

    .profile-header {

    }

  }


  .ql-profile-image-container {
    position: relative;
    width: 70%;
    margin: auto;  
    margin-top: 10px;    
    margin-bottom: 20px;

    .ql-profile-image {
      width: 100%;
    }

    .ql-image-upload-new-button {
      position: absolute;
      bottom: 0;
      height: 45px;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0 ,0.1);
      color: white;
      padding: 10px;
      font-size: 130%;
      text-align: center;

      &:hover {
        background: rgba(0, 0, 0 ,0.5);
        cursor: pointer;
      }
    }

  }

}
