
@import '../variables.scss';

// Component
.ql-profile-page {

  .ql-profile-card {
    background: white;

    .profile-header {

    }

    .ql-profile-image {
      width: 250px;
      height: 250px;
    }

  }


  .ql-profile-image-container {
    position: relative;
    width: 250px;
    margin: auto;  
    margin-top: 10px;    
    margin-bottom: 20px;

    .ql-image-upload-new-button {
      position: absolute;
      bottom: 0;
      height: 45px;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0 ,0.1);
      color: white;
      padding: 10px;
      font-size: 130%;
      text-align: center;

      &:hover {
        background: rgba(0, 0, 0 ,0.5);
        cursor: pointer;
      }
    }

  }

}

 .ql-profile-image-droparea {
    &.dropzone {
      margin-bottom: 10px;
      border-radius: 4px;
      border: 2px dashed rgba(0, 0, 0, 0.3);
      background: transparent;
      padding: 20px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;

      .dz-preview.dz-image-preview {
        background: transparent;
      }

      .glyphicon-camera {
        font-size: 3.8em;
        margin-bottom: 8px;
        display: block;
        text-align: center;
      }
    }
 }