

@import '../variables.scss';
// Component
.ql-profile-card {

  display: inline-block;
  position: relative;

  h3 {
    margin-bottom: 0px;
  }

 .ql-profile-name-container {
   display: flex;
   justify-content: space-between;

   .ql-profile-name-little-button {
      margin:auto;
      padding:5px;
      color: $blue;
      &:hover {
        cursor: pointer;
        color: darken($blue,20%);
      }
   }
   .input {
     margin: 5px;
   }
    .ql-profile-name {
      font-size: 2em;
    }
    .ql-profile-name-input {

    }

  }


  .ql-profile-card-expanded {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    width: 200px;

    &.show {
      display: inline-block;
    }
  }

}
