@import '../variables.scss';

.ql-question-edit-item {

  .editor-wrapper {
    
    &.question-editor {
      font-size: 2em;  
      border: 1px solid #ccc;
      border-radius: 2px;
      margin-bottom: 5px;
    }

    &.answer-editor {
      border: 1px solid #ccc;
      border-radius: 2px;
    }
    
    .cke_textarea_inline {
      padding: 8px;      
      // padding-bottom: 2px;
      line-height: 1.4em;

      &.cke_focus {
        // outline: $blue 2px solid;
        outline: none;
        box-shadow: 0 0 1px 2px $blue;
      }
    }

  }

  .header {
    select.question-type {
      width: 200px;
    }
  }

  .answer-no-wysiwyg {
    font-size: 130%;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }

  .small-editor-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;

    .answer-option {
      margin-bottom: 0;
      margin-top: 6px; 
      font-size: 140%;

      span.answer-key {
        font-weight: bold;
      }
      span.correct {
        float: right;
        cursor: pointer;
      }
    }
  }

  .editor-wrapper {
    
  }

  .col-md-6 {

  }
} // end .ql-question-edit-item
