
.ql-question-edit-item {

  .editor-wrapper {
    
    &.question-editor {
      font-size: 2em;  
      border-bottom: 2px solid #ccc;
      margin-bottom: 5px;
    }

    &.answer-editor {
      border: 1px solid #ccc;
    }
    
    .cke_textarea_inline {
      padding: 8px;      
      padding-bottom: 2px;

      &.cke_focus {
        line-height: 1em;
      }
    }
  }

  .header {
    select.question-type {
      width: 200px;
    }
  }

  .answer-no-wysiwyg {
    font-size: 130%;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }

  .small-editor-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;

    span.answer-option {
      margin-bottom: 0;
      margin-top: 6px; 
      font-size: 140%;

      span.answer-key {
        font-weight: bold;
      }
      span.correct {
        float: right;
        cursor: pointer;
      }
    }
  }

  .editor-wrapper {
    
  }

  .col-md-6 {

  }

  .ReactTags__tags {
    .ReactTags__tagInput {
      position: absolute;
      top: 0;
      left: 0
    }
    .ReactTags__tagInputField {
      padding-left: 6px;
      text-transform: uppercase;
    }
    .ReactTags__suggestions > ul {
      padding-left: 0px;
    }
    .ReactTags__tag {
      margin-top: 40px;
      text-transform: uppercase;
    }
  }
} // end .ql-modal-createquestion
