
.ql-question-edit-item {

  .header {
    select.question-type {
      width: 200px;
    }
  }

  .answer-no-wysiwyg {
    font-size: 130%;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }

  .small-editor-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;

    span.answer-option {
      margin-bottom: 0;
      margin-top: 6px; 
      font-size: 140%;

      span.answer-key {
        font-weight: bold;
      }
      span.correct {
        float: right;
        cursor: pointer;
      }
    }
  }

  .editor-wrapper {
    
    .rdw-option-wrapper {
      height: 30px;
    }

    .rdw-block-dropdown {
      max-width: 72px;
    } 
    .rdw-fontfamily-dropdown {
      max-width: 100px;
    }
    .home-editor {
      padding: 4px;

      .public-DraftStyleDefault-block {
        margin: 0 0;
      }
      h2 {
        margin-bottom: 10px;
      }
    }

    .home-toolbar {
      width: auto;
      font-size: 80%;
      padding: 4px 2px 0;
    }
  }

  .col-md-6 {
    .rdw-dropdown-wrapper, .rdw-option-wrapper {
      margin: 2px;
    } 
    .rdw-block-dropdown {
      width: 67px;
    } 
    .rdw-fontfamily-dropdown {
      width: 92px;
    }
    .rdw-inline-dropdown, .rdw-fontsize-dropdown, .rdw-list-dropdown, .rdw-text-align-dropdown {
      width: 37px;
    }
    .home-toolbar {
      padding-top: 0px;

      > div {
        margin-bottom: 0;
        > div {
          height: 30px;
        }
      }
    }
  }

  .ReactTags__tags {
    .ReactTags__tagInput {
      position: absolute;
      top: 0;
      left: 0
    }
    .ReactTags__tagInputField {
      padding-left: 6px;
      text-transform: uppercase;
    }
    .ReactTags__suggestions > ul {
      padding-left: 0px;
    }
    .ReactTags__tag {
      margin-top: 40px;
      text-transform: uppercase;
    }
  }
} // end .ql-modal-createquestion
