@import '../mixins.scss';

.ql-question-list-item {
  @include list-item();

  .new-question-placeholder {
    font-style: italic;
    color: #bbb;  
  }

  .ql-question-name {
    font-size: 130%;
    display: block;
  }  

  .ql-question-details {
    margin-top: 4px;
    display: block;
  }

  .ql-label-list {
    margin-top: 10px;
    display: inline-block;

    span {
      margin-right: 4px;
    }

  }

  .dropup {
    float: right;
  }


} // end .ql-question-list-item
