@import '../variables.scss';


.ql-quiz-session{

  @media (max-width: 991px) {
    .ql-quiz-session-overview {
      position: static !important;
      width: auto;
      top: 0;
      flex-direction: row;
      flex-wrap:wrap;
    }
  }

  .ql-quiz-submit-button {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .ql-quiz-qleft {
    //width: 100px;
   //width: 120px;
    height: 30px;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    font-size: 1.5em;
    background: $light-red;
    margin: auto;
    //background: white;
  }


  .ql-quiz-session-qnav {
    position:  fixed;
    width: 140px;

    .ql-quiz-session-qnav-title {
      //width: 100px;
      width: 120px;
      text-align: center;
      font-size: 2em;
      margin: auto;
      //background: white;
    }

    .ql-quiz-session-qnav-qlist {
      max-height: 400px;
      overflow-y: auto;

      .ql-quiz-session-questionPad {
        width: 100px;
        margin: auto;
        text-align: center;
        font-size: 2em;
        border: 1px solid $grey;

        background: white;
        padding: 2px;
        &:hover {
          //background: $grey;
          font-weight: bold;
          cursor: pointer;
        }
        &.red {
          background: $light-red;
        }
        &.green {
          background: $light-green;
        }
      }
    }


  }

  .ql-quiz-session-questions {

    .ql-quiz-session-questions-title {
      text-align: center;
      font-size: 2.5em;
      padding-bottom: 20px;
      margin: auto;
      //background: white;
    }

    .ql-quiz-session-question {

      border: 1px solid $slightly-darker-grey;
      padding: 5px;
      padding-bottom: 15px;
      margin-bottom:20px;

      .ql-quiz-session-question-title {
        background: $blue;
        color: white;
        font-size: 2em;

      }
    }


  }

}
