
@import '../variables.scss';

// Components
.ql-buttons-prompt {
  padding: 5px;
  padding-left: 0px;
  padding-right: 0px;
  display:flex;
  justify-content: space-between;
  align-items: stretch;

  .ql-prompt-option {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 14px;
    cursor: pointer;
    width: 24%;
    text-align: center;

    &:hover, &.prompt-selected {
      border: 1px solid $blue;
      color: $blue;
    }
  }

}

