@import '../variables.scss';
@import '../common_components.scss';

.response-header {
  width: 100%;
  height: 100%;
  background: white;
  position: sticky;
  top: 85px;

  .bar {
    @extend .ql-header-bar;

    .btn {
      @extend .btn;
      border: none;
      color: white;
      height: 100%;
      width: 20%;
    }

    .content {
      width: 20%;
    }
  }
  
}

.response-list {

}

.response-card-container {
  
}

.response-name {
  background: $blue;
  color: white;
}

.response-card-content {
  display: flex;
}

.response-card-item {
  width: 60%;
}

.response-short-answer {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 100px;
  background: white;
  border: 2px solid $grey;
  display: inline-block;
  position: relative;
  textarea {
    text-align-last: center;
    resize: vertical;
  }
  overflow-y: auto;
}

.response-grade-container {
  padding-left: 50px;
}

.response-grade {


  display: flex;
  margin-right: 0px;
 
  .box {
    border: 2px solid $grey;
    width: 10%;
  }

  .text {
    padding: 10px;
    font-size: 0.7em;
  }
}

.response-feedback {

  display: flex;
  
  .text-input {
    border: 2px solid $grey;
  }
}

