@import '../variables.scss';
@import '../common_components.scss';

.response-header {
  width: 100%;
  height: 100%;
  background: white;
  position: sticky;
  top: 85px;

  .bar {
    @extend .ql-header-bar;

    .btn {
      @extend .btn;
      border: none;
      color: white;
      height: 100%;
      width: 20%;
    }

    .content {
      width: 20%;
    }
  }
}


.response-card-container {
  height: 100%;

  .name {
   
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
    .answer {
      width: 40%;
    }

    .feedback {
      display: flex;  
      width: 60%;
    }

    .grade {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background: $grey;
    }

    .textField {
      width: 100%;
      height: 100%;
      max-height: 100px;
      background: white;
      border: 2px solid $grey;
      textarea {
        text-align: center;
        resize: vertical;
      }
      overflow-y: auto;
    }

    input {
      text-align: center;
    }
  }
}



