

// Component
.ql-grade-page, .ql-grades-overview {

  overflow-y: hidden; // hide vertical
  overflow-x: hidden; // hide horizontal

  .session-group {
    padding-top: 20px;
  }

  .session-view{
    padding-right: 5px;
  }
.ql-button-centered{
  width: 100%;
  margin-left: 43%;
  margin-right: 40%;
  padding: 7px;
}
  .ql-shift-button{
    margin-left: 850px;
  }

  .ql-space-button{
    margin: 5px;
  }

}
