@import '../mixins.scss';
@import '../variables.scss';

.ql-session-list-item {
  cursor: pointer;

  .row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      display: flex;
      align-items: baseline;
      flex-direction: column;

      &:first-child {
        align-items: center;
      }
    }

  }

  .ql-session-name {
    font-weight: bold;
  }
  .active-time {
    font-size: 90%;
    display: inline-block;
    margin-right: 8px;
  }
  .tags {
    display: inline-block;
    font-size: 90%;

    .ql-label {
      margin-right: 4px;
    }
  }

  .ql-session-status {
    margin-left:10px;
    &.reviewable {
      //background: $light-green;
    }
    &.not-reviewable {
      background: $light-red;
    }
  }

  .completion {
    font-size: 90%;
  }


}
