
@import '../variables.scss';

.ql-session-display {
  @media (max-width: 480px) {
    .ql-session-display {
      &.container {
        padding:0;
        margin:0;
      }
    }

  }
  .ql-session-display-mobile {

    .ql-session-display-mobile-infobar {
      padding: 5px;
      font-size: 120%;
    }

    .ql-session-display-mobile-buttons {
      padding: 5px;
      .btn-group {
        padding-bottom: 5px;
        .btn {
          height: 40px;
        }
      }
    }

  }

  // Question list used in a quiz setting, student view
  .ql-session-question-list {

    .ql-session-question {
        margin-bottom: 10px;
        border:2px solid $darker-grey;

      .ql-session-question-title {
        font-size: 2em;
        background: $blue;
        padding: 5px;
        color: white;
      }
      .bottom-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 5px;
        .try-again-button {
          width: 100%;
          max-width: 400px;
        }
      }

   }

  }



}
