
@import '../variables.scss';

.ql-session-display {


}

.ql-session-question-title {
  font-size: 2em;
  background: $blue;
  padding: 5px;
  color: white;
}


@media (max-width: 480px) {
  .ql-session-display {
    &.container {
      padding:0;
      margin:0;
    }
  }

}
