@import '../mixins.scss';

.ql-session-list-item {
  @include list-item();
  cursor: pointer;

  .row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    > div {
      display: flex;
      align-items: baseline;
      flex-direction: column;

      &:first-child {
        align-items: center;
      }
    }
    
  }

  .ql-session-name {
    font-weight: bold;
  }
  .active-time {
    display: block;
    font-size: 90%;
  }

  .ql-session-status {
    margin-left:10px; 
  }

  .completion {
    font-size: 90%;    
  }


}
