@import '../mixins.scss';

.ql-student-list-item {
  padding-top: 4px;
  padding-bottom: 4px;

  .ql-profile-image {
    width: 35px;
    height: 35px;
  }

  .student-details {
    margin-left: 14px;
    display: inline-block;
    
    &:hover {
      cursor: pointer;
    }

    .student-name {
      font-weight: bold;
      display: block;
    }

    .student-email {
      display: block;
    }
  }

  .btn-group.dropdown {
    margin-top: 0px!important;
  }

}
