
.ql-student-list-item {

  cursor: pointer;
  padding: 12px;

  &:hover {
    background: #ddd;
  }

  .ql-student-name {
    font-weight: bold;
  }

  .ql-student-email {
    margin-left:10px; 
  }
 
  .controls {
    z-index:10;
    float: right;
  }

}
