@import '../mixins.scss';

.ql-student-list-item {

  .ql-student-name {
    font-weight: bold;
  }

  .ql-student-email {
    margin-left:10px; 
  }
  
  .btn-group.dropdown {
    margin-top: -8px;
  }

}
