@import '../mixins.scss';
@import '../variables.scss';

.student-list {

  overflow-y: auto;
  background-color: #333;
  color: white;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;

  .student-item {

    &:hover {
      cursor: pointer;
      background-color: $hover-color;
    }
  }
}